body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    text-align: center;
}

#container {
    margin: 20px auto;
    width: 50%;
    display: flex;
    flex-direction: column;
}

#add-task {
    width: 100%;
}

#add-task form {
    display: flex;
    justify-content: space-between;
}

#task-name {
    flex-basis: 75%;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid black;
}

#submit {
    flex-basis: 20%;
}

#current-tasks {
    width: 100%
}

ul {
    padding: 0;
    width:100%;
}

.task {
    width:100%;
    display: flex;
    justify-content: space-between;
    border: 1px solid rgba(0, 0, 0, 0.171);
    border-radius: 5px;
    padding: 10px
}

.task:not(:last-child) {
    margin-bottom: 10px;
} 


.task-details {
    pointer-events: none;
}

.task-details p {
    margin: 0;
}

.task-details p:first-child {
    display: inline-block;
    word-break: break-word;
    margin-bottom: 5px;
    font-size: 1.3em;
}

.task-details p:not(:first-child) {
    font-size: 0.8em;
    color: #5a5a5a;
}

.delete-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}

.delete-button:hover {
    color: red;
    cursor: pointer;
}