*, *::before, *::after {
    box-sizing: border-box;
  }

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

header h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.7em;
    font-weight: 400;
    color: #272727
}

header p {
    color: #5a5a5a;
    font-size: 1em;
}

#container {
    /* margin: 20px auto; */
    width: 50%;
    display: flex;
    flex-direction: column;
}

section {
    border: 1px solid rgba(0, 0, 0, 0.425);
    padding: 20px;
    border-radius: 5px;
}

.section-title {
    margin: 0 0 16px 0;
    font-weight: 400;
}

#no-current-tasks, #no-completed-tasks {
    margin: 0;
    color: #5a5a5a;
    font-size: 0.8em;
}

section:not(:last-child) {
    margin-bottom: 20px;
}

#add-task {
    width: 100%;
}

#add-task form {
    display: flex;
    justify-content: space-between;
}

#task-name {
    flex-basis: 75%;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.363);
}

#submit {
    flex-basis: 20%;
}

#current-tasks, #completed-tasks {
    width: 100%
}

ul {
    margin:0;
    padding: 0;
    width:100%;
}

.task {
    width:90%;
    display: flex;
    justify-content: space-between;
    border: 1px solid rgba(0, 0, 0, 0.171);
    border-radius: 5px;
    padding: 10px
}

.task:not(:last-child) {
    margin-bottom: 10px;
} 


.task-details {
    pointer-events: none;
}

.task-details p {
    margin: 0;
}

.task-details p:first-child {
    display: inline-block;
    word-break: break-word;
    margin-bottom: 5px;
    font-size: 1.3em;
}

.task-details p:not(:first-child) {
    font-size: 0.8em;
    color: #5a5a5a;
}

.delete-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 1.3rem;
}

.delete-button:hover {
    color: red;
    cursor: pointer;
}

@media screen and (max-width: 900px) {
    header {
        width: 80%
    }
}

@media screen and (max-width: 600px) {
    #container {
        width: 80%
    }
}

@media screen and (max-width: 500px) {
    body {
        font-size: 14px;
    }
    .task {
        width: 95%
    }
}